/**
 * Basic typography style for copy text
 */
@font-face {
  font-family: "Alexana";
  src: url("../../assets/fonts/alexana/Alexana.ttf") format("ttf");
}

@font-face {
  font-family: "Cartograph CF";
  src: url("../../assets/fonts/cartograph/CartographCF-Regular.otf") format("otf");
}
