.about {
    h2 {
        font-weight: 300;
        font-size: 4rem;
    }

    &__list {
        display: block;
        column-count: 2;
        padding: 0;
        font-size: 2rem;

        &__item {
            margin: 0 3rem;
            padding: 0.5rem;
        }
    }
}